#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

#selector {
    display: flex;
    gap: 1rem;
}

#response {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.response-item {
    display: flex;
    gap: 1rem;
}